<div class="bio">
<h2>Autores del proyecto Quiz</h2>
<br><br>
<img src="/images/Juan_Quemada_Vives.jpg">

<ul>
	<li><b>Nombre: </b>Juan Quemada Vives </li>
	<li><b>Ubicación: </b>Madrid </li>
	<li><b>Facebook: </b>https://www.facebook.com/jquemada1 </li>
	<li><b>Twitter: </b>https://twitter.com/jquemada </li>
	<li><b>Linkedin: </b>https://www.linkedin.com/pub/juan-quemada/0/523/34a </li>
</ul>
<br><br>
<h4>Biografía</h4>
<br>
<p>Catedrático del Departamento de Ingeniería de Sistemas Telemáticos en la ETSI Telecomunicación de la Universidad Politécnica de Madrid (UPM), donde imparte las asignaturas de Software de Comunicaciones, Computación en Red e Ingeniería Web. Además es el Investigador Principal del Grupo de investigación de UPM Internet NG y Director de la Cátedra Telefónica en UPM para Internet NG.</p>
</div>