<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1>Quiz: El juego de las preguntas</h1>
    <p><%= respuesta %></p>
    <p><a href="/quizes/question">Intentalo otra vez</a></p>
  </body>
</html>