<form method="GET" action="/quizes/answer">
<p>Pregunta: <%= pregunta %></p></br>
<input type="text" placeholder="aquí su respuesta" name="respuesta" />
<input type="submit" value="enviar" />
</form>
